{% include 'header.html' %}

{% if cards == -1 %}
  <div class="message-board">
    <h2 class="message-board__info">There are no cards in your deck.</h2>
    <p class="message-board__action">You can <a href="/edit/0" class="color-green">create a card</a>
    here.</p>
  </div>

{% else %}

<div class="cardList">
  {% for card in cards %}
  <h2 class="cardList__title">Level {{ loop.index }}</h2>
  <div class="cardList__cards">
    <div class="cardList__card">
      <div class="cardList__card-body">
        <a href="/edit/{{ card['card_id'] }}" class="cardList__button cardList__button--edit">
          <img src="/static/edit-icon.svg" alt="">
        </a>
        <a href="/delete/{{ card['card_id'] }}" class="cardList__button cardList__button--delete">
          <img src="/static/delete-icon.svg" alt="">
        </a>
      </div>
      <div class="cardList__labels">
        <p class="cardList__card-rightCount"><span
        class="color-green">RIGHT</span>{{ card['right_count'] }}</p>
        <p class="cardList__card-wrongCount"><span class="color-red">WRONG</span>{{ card['right_count'] }}</p>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
{% endif %}

{% include 'footer.html' %}