{% include 'header.html' %}

{% if card_id == 0 %}
  <div class="container">
    <div class="imageMenu">
      <form id="form" enctype=multipart/form-data method="POST" class="uploader">
        <input id="input-file" class="" type="file" name="file">
        <a id="ui_btn_upload" class="imageMenu__button" href="#">Upload</a>
      </form>
    </div>
    <div class="card__container">
      <div id="ui_card" class="card" >
        <div id="ui_card_front" class="card__front card__show">
          <p id="ui_text_front" class="card__text" contenteditable="true">
            Enter your question here...<br>Remember, keep the chunk: small,
            connected and meaningful.
          </p>
          <div id="ui_image_front" class="card__image"
          ondragstart="return false;"></div>
        </div>
        <div id="ui_card_back" class="card__back card__hide">
          <p id="ui_text_back" class="card__text" contenteditable="true">
            What is the answer?
          </p>
          <div id="ui_image_back" class="card__image"
          ondragstart="return false;"></div>
        </div>
      </div>
      <form action="" class="card__buttons">
        <button id="ui_btn_flip" class="card__button card__button--flip"><img src="/static/img/flip-icon.svg"></button>
      </form>
    </div>
    <div class="textMenu">
      <div class="textMenu__size">
        <div class="textMenu__size-label">Text size</div>
        <button id="ui_btn_text_bigger" class="textMenu__size-icon-plus"></button>
        <button id="ui_btn_text_smaller" class="textMenu__size-icon-minus"></button>
      </div>
      <div class="textMenu__style">
        <div class="textMenu__style-label">Text style</div>
        <button id="ui_btn_text_style1" class="textMenu__style-icon-1"></button>
        <button id="ui_btn_text_style2" class="textMenu__style-icon-2"></button>
        <button id="ui_btn_text_style3" class="textMenu__style-icon-3"></button>
        
      </div>
    </div>
  </div>

{% else %}
<div class="container">
  <div class="imageMenu">
    <form id="form" enctype=multipart/form-data method="POST" class="uploader">
      <input id="input-file" class="" type="file" name="file">
      <a id="ui_btn_upload" class="imageMenu__button" href="#">Upload</a>
    </form>
  </div>
  <div class="card__container">
    <div class="card">
      <div id="ui_card_front" class="card__front card__show">
        <div id="ui_text_front" class="card__text" contenteditable="true">
          {{card_data['text_front']|safe}}
        </div>
        <div id="ui_image_front" ondragstart="return false;" class="card__image"></div>
      </div>
      <div id="ui_card_back" class="card__back card__hide">
        <div id="ui_text_back" class="card__text" contenteditable="true">
          {{card_data['text_back']|safe}}
        </div>
        <div id="ui_image_back" ondragstart="return false;" class="card__image"></div>
      </div>
    </div>
    <form action="" class="card__buttons">
      <button id="ui_btn_flip" class="card__button card__button--flip"><img src="/static/img/flip-icon.svg"></button>
    </form>
  </div>
  <div class="textMenu">
    <div class="textMenu__size">
      <div class="textMenu__size-label">Text size</div>
      <button id="ui_btn_text_bigger" class="textMenu__size-icon-plus"></button>
      <button id="ui_btn_text_smaller" class="textMenu__size-icon-minus"></button>
    </div>
    <div class="textMenu__style">
      <div class="textMenu__style-label">Text style</div>
      <button id="ui_btn_text_style1" class="textMenu__style-icon-1"></button>
      <button id="ui_btn_text_style2" class="textMenu__style-icon-2"></button>
      <button id="ui_btn_text_style3" class="textMenu__style-icon-3"></button>
      
    </div>
  </div>
</div>
  <script>
    setTimeout(function() {
      loadCardFromDB({{card_data|safe}})
    },
    1)
  </script>
{% endif %}

{% include 'footer.html' %}
