{% include 'header.html' %}

{% if card_id == 0 %}
  <div class="card__container">
    <div class="card">
      <div id="ui_card_front" class="card__front card__show">
        <p id="ui_text_front" class="card__text" contenteditable="true">
          Enter your question here...<br>Remember, keep the chunk: small,
          connected and meaningful.
        </p>
        <img src="" alt="" class="card__image">
      </div>
      <div id="ui_card_back" class="card__back card__hide">
        <p id="ui_text_back" class="card__text" contenteditable="true">
          What is the answer?
        </p>
        <img src="" alt="" class="card__image">
      </div>
    </div>
    <form action="" class="card__buttons">
      <button type="submit"  class="card__button card__button--right">Was it <span class="color-green">RIGHT?</span>?</button>
      <button id="ui_btn_flip" class="card__button card__button--flip"><img src="/static/card-flip-icon.svg"></button>
      <button type="submit" formaction=""
      class="card__button card__button--wrong">Was it <span
      class="color-red">WRONG?</span>?</button>
    </form>
  </div>

{% else %}

{% endif %}

{% include 'footer.html' %}
