{% include 'header.html' %}

{% if cards == -1 %}
  <div class="message-board">
    <h2 class="message-board__info">There are no cards in your deck.</h2>
    <p class="message-board__action">You can <a href="/edit/0" class="color-green">create a card</a>
    here.</p>
  </div>

{% elif cards == 0 %}
  <div class="message-board">
    <h2 class="message-board__info">There are no more cards for today.</h2>
      <p class="message-board__action"><a href="/edit/0" class="color-green">Create a new card</a>
      or come back tomorrow.</p>
  </div>

{% else %}
<div class="card__container">
  <div class="card">
    <div id="ui_card_front" class="card__front">
      <p class="card__text">{{ card_data['text_front'] }}</p>
      <img src="{{ card_data['image_front_url'] }}" alt="" class="card__image">
    </div>
    <div id="ui_card_back" class="card__back">
      <p class="card__text">{{ card_data['text_back'] }}</p>
      <img src="{{ card_data['image_back_url'] }}" alt="" class="card__image">
    </div>
  </div>
  <form action="/count-right/{{ card_data['card_id'] }}" class="card__buttons">
    <button type="submit"  class="card__button card__button--right">Was it <span class="color-green">RIGHT?</span></button>
    <button id="ui_btn_flip" class="card__button card__button--flip"><img src="/static/flip-icon.svg"></button>
    <button type="submit" formaction="/count-wrong/{{ card_data['card_id'] }}"
    class="card__button card__button--wrong">Was it <span
    class="color-red">WRONG?</span></button>
  </form>
</div>
{% endif %}

{% include 'footer.html' %}