<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',
  filename='css/style.css')}}">
<title>Game - Leitner Box Online</title>
</head>
<body>
  {% if view == 'create' %}
  <nav class="nav">
    <div class="nav__title">
      You are creating a new card.
    </div>
    <div class="nav__options">
      <ul>
        <li><a class="color-red" href="/next-card">Delete</a></li>
        <li><a id="ui_btn_add_to_deck" class="color-green" href="#">Add to deck</a></li>
      </ul>
    </div>
  </nav>
  {% elif view == 'edit' %}
  <nav class="nav">
    <div class="nav__title">
      You are editing a card.
    </div>
    <div class="nav__options">
      <ul>
        <li><a class="color-blue" href="/next-card">Play</a></li>
        <li><a class="color-red" href="/delete/{{ card_data['card_id']}}">Delete</a></li>
        <li><a class="color-orange" href="/card-list">Cancel</a></li>
        <li><a id="ui_btn_update_card" card_id="{{ card_data['card_id']}}"  class="color-green" href="#">Save</a></li>
      </ul>
    </div>
  </nav>
  {% elif view == 'game' %}
  <nav class="nav">
    <div class="nav__title">
      This is the game screen.
    </div>
    <div class="nav__options">
      <ul>
        {% if cards != 0 %}
        <li>
          <a href="/edit/{{card_data['card_id']}}" class="color-orange">Edit Card</a>
        </li>
        {% endif %}
        <li>
          <a href="/card-list" class="color-orange">Card List</a>
        </li>
        {% if cards != 0 %}
        <li>
          <a href="/next-card" class="color-blue">Next Card</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% elif view == 'list' %}
  <nav class="nav">
    <div class="nav__title">
      This is the card list screen.
    </div>
    <div class="nav__options">
      <ul>
        <li><a class="color-green" href="/edit/0">Create new card</a></li>
        <li><a class="color-blue" href="/next-card">Play</a></li>
      </ul>
    </div>
  </nav>
  {% else %}
  <nav class="nav">
    <div class="nav__title">
      {% if view != '' %}  {% endif %}
    </div>
    <div class="nav__options">
      <ul>
        <li></li>
      </ul>
    </div>
  </nav>
  {% endif %}
  <section class="content">